@charset "utf-8";
@font-face {
	font-family: 'IranSans';
	src: url('../fonts/IRANSans-Light-web.woff') format('woff'),
		 url('../fonts/IRANSans-Light-web.ttf')  format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'IranSans';
	src: url('../fonts/IRANSans-Bold-web.woff') format('woff'),
		 url('../fonts/IRANSans-Bold-web.ttf')  format('truetype');
	font-weight: 700;
}

:not(i){
	font-family: IranSans !IMPORTANT;
}


.main {
    padding: 3%;
    padding-top: 5%;
    direction: rtl;
}

#sidebar {
    border-left: 2px #455C00 solid;
    background-color: #8AB800;
}

#topar {
    border-bottom: 3px #8AB800 solid;
    background-color: #303030;
		direction: rtl;
}

.validation-summary-errors {
	position: relative;
	min-height: 1em;
	margin: 1em 0;
	background: #efefef;
	padding: 1em 1.5em;
	line-height: 1.3;
	color: #b94a48;
	-webkit-transition: opacity .2s ease,color .2s ease,background .2s ease,box-shadow .2s ease;
	transition: opacity .2s ease,color .2s ease,background .2s ease,box-shadow .2s ease;
	border-radius: .2857rem;
	box-shadow: 0 0 0 1px rgba(39,41,43,.15) inset,0 0 0 0 transparent;
}