@charset "utf-8";
@font-face {
	font-family: 'IranSans';
	src: url('../fonts/IRANSans-Light-web.woff') format('woff'),
		 url('../fonts/IRANSans-Light-web.ttf')  format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'IranSans';
	src: url('../fonts/IRANSans-Bold-web.woff') format('woff'),
		 url('../fonts/IRANSans-Bold-web.ttf')  format('truetype');
	font-weight: 700;
}

*{
	font-family: IranSans;
}

body{
	direction: rtl;
}
